/* Add here all your CSS customizations */
html #header .header-top.header-top-third {
    background: #484a51;
    border-top-color: #3c3e44;
}

.header-title {
	font-size: 25px;
	margin-bottom: 22px;
	display: block;
	color: rgb(62,64,149);
}

.v-align-bottom {
	vertical-align: bottom !important;
}

.masonry .masonry-item {
    width: 33.33%;
}

.product-image {
	max-height: 358px;
	width: 100%;
}

.kantor-kami-icon {
	background-color: #0088cc;
	color: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px;
	border-color: #0088cc;
    left: 0;
    top: 5px;
}
.kantor-kami-title {
	padding-left: 11px;
}

.pt-35 {
	padding-top: 35px;
}
.valign-text-top {
	vertical-align: text-top;
}
.h-40 {
	height: 40px;
}
.h-50 {
	height: 50px;
}